{% extends '_base.html' %}
{% load thumbnail %}

{% block title %}{{ user.get_full_name }}{% endblock title %}

{% block content %}
  <h1>{{ user.get_full_name }}</h1>
  <div class="profile-info">
    <img src="{% thumbnail user.profile.photo 180x180 %}" alt="user-profile-pic" class="user-detail">
  </div>
  {% with user.followers.count as total_followers %}
    <span class="count">
      <span class="total">{{ total_followers }}</span>
      follower{{ total_followers | pluralize }}
    </span>
    <a
      href="#"
      data-id="{{ user.id }}"
      data-action="{% if is_following %}un{% endif %}follow"
      class="follow button">
      {% if is_following %}
        Unfollow
      {% else %}
        Follow
      {% endif %}
    </a>
    <div id="image-list" class="image-container">
      {% include "images/image/list_ajax.html" with images=user.images_created.all %}
    </div>
  {% endwith %}
{% endblock content %}

{% block domready %}
<script>
  $('a.follow').click(function(e){
    e.preventDefault();
    $.post(
      '{% url "user_follow" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action'),
      },
      function(data) {
        if(data['status'] == 'ok') {
          var previous_action = $('a.follow').data('action');
          // update DOM
          $('a.follow').data('action', previous_action == 'follow' ? 'unfollow' : 'follow');
          $('a.follow').text(previous_action == 'follow' ? 'Unfollow' : 'Follow')
          var previous_followers_count = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'follow' ? previous_followers_count + 1 : previous_followers_count - 1)
        }
      }
    );
  });
</script>
{% endblock domready %}